

body {
    background: url("./image/Fond4.jpg");
    height: 100%;

}

main {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    height: 55rem;
}

.presentation {
    background: #980e0ee2;
    align-items: center;
    border: 2px solid beige;
    width: 20rem;
    height: 10.5rem;
    border-radius: 10%;
}

.presentation h3 {

    border-bottom: 3px solid rgb(226, 222, 222);
    text-align: center;
}

.presentation p {
    text-align: center;
}

.distributeur {
    
    border: 10px solid rgb(0, 0, 0);
    background: url(./image/machine.jpg);
    width: 401px;
    height: 810px;
    border-radius: 10px;
    
}
/* Bouton avec images */
.btn {
    margin-top: 340px;
    padding: 10px;
    width:50px;
    position: relative;
    left: 316px;
    top: -2px;
  }

.btn input {
    height: 19px;
    width: 42px;
    margin-right: 25px;
    margin-bottom: 2px;
    position: relative;
left: 19px;

}
/* ======================Bouton stock=======================================*/
.btnSignal {

  position: relative;


    
  }

  #btn1 {
    position: relative;
    left: 389px;
    top: -211px
  }
  #btn2 {
    position: relative;
    left: 389px;
    top: -217px
  }
  #btn3 {
    position: relative;
    left: 389px;
    top: -222px;
  }
  #btn4 {
    position: relative;
    left: 389px;
    top: -228px
  }
  #btn5 {
    position: relative;
    left: 389px;
    top: -233px
  }
      #btn6 {
        position: relative;
        left: 389px;
        top: -238px;
      }
      #btn7 {
        position: relative;
        left: 389px;
        top: -243px;
      }
      #btn8 {
        position: relative;
        left: 389px;
        top: -248px;
      }
      #btn9 {
        position: relative;
        left: 389px;
        top: -253px;
      }

/* ======================Bouton stock=======================================*/
  .btnSignal p {
    border: 5px solid rgb(255, 0, 0);
    width: 1px;
    border-radius: 100%;



  }


.affichageMachine {
    background: #980e0ee2;
    border: 2px solid beige;
    width: 20rem;
    height: 14rem;
    border-radius: 10%;
}
.affichageMachine h3{
   
    border-bottom: 2px solid beige;
   
}
/* bouton machine 
#btn1{
    height: 60px;
    width: 120px;
    background-color: red;
    animation-name: example;
    animation-duration: 14s;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    25%  {background-color:  rgba(255, 0, 0, 0.742);}
    50%  {background-color:  rgba(255, 0, 0, 0.507);}
    100% {background-color:  rgba(255, 0, 0, 0.157);}
  }

    background: #980e0ee2;
